/* #table {
    margin-top:80px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 2px solid #000;
    padding: 8px;
    width:30px;
    /* width:fit-content; */
    /*  */
  /* } */
  
  /* #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #A9A9A9;
    color: black; */
    /* word-wrap: break-word; */
  /* } */
  #table
  {
    table-layout: auto;
    width:auto;
    overflow:scroll;
    overflow:visible;
    border-collapse: collapse;
    border:1px solid black;
  
  }
  #table th
  {
    width:200px;
    border-collapse: collapse;
    border:1px solid black;
  
  }
  #table td{
    width:200px;
    /* height:70px; */
    border: 1px solid black;
    padding:10px;
    text-align:left;
    /* display: inline-block; */
    /* word-break: break-word; */
  }

  .mat-select {
    /* background: red; */
    width:220px;
    word-break: break-word;
}

/* .mat-checkbox {
  color: rgb(0,178,0);}
.mat-checkbox{
    color:black;
    background-color: white;
  } */