.head-box{
    margin-left:50%;
    width:280px;
    height:50px;
    border: 1px solid black;
    background-color:#696969;
}
.para{
    margin-top:60px;
    color: red;
}
.text-color{
    text-align: center;
    color: white;
}
.main{
    margin-top:80px;
}